* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

body {
    min-width: 1100px;
    min-height: 600px;
    display: flex;
    width: 100%;
    font-family: 'Baloo Bhaina 2', sans-serif;
    overflow: hidden;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-sidebar {
    background-color: #000;
    border-radius: 24px;
    width: 11%;
    min-width: 100px;
    height: 853px;
    margin-left: 32px;
    margin-top: 24px;
    color: #fff;
    box-shadow: 2px 5px 16px 0 #000;
    margin-right: 71px;
}

.nav-menu {
    margin: 40px auto;
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu-top {
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-title {
    margin-bottom: 40px;
}

.main-container {
    display: flex;
    margin-top: 55px;
    margin-right: 67px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.background {
    background: #F5F5F7;
    border-radius: 14px;
}

.hello {
    display: flex;
    justify-content: space-between;
    height: 18%;
    width: 100%;
    align-items: flex-end;
}

.hello-article {
    margin: auto 32px;
}

.hello-title {
    font-size: 36px;
    line-height: 57px;
    font-weight: bold;
}

.hello-text {
    font-size: 16px;
    line-height: 24px;
}

.hello-photo {
    margin-right: 105px;
    display: flex;
}

.info {
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin-left: 60px;
}

.main-info {
    width: 55%;
    min-width: 600px;
}

h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

p {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}

.progress {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 24px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

.progress-item {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.progress-user, .progress-request {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    background: #fff;
    border-radius: 12px;
    width: 33%;
    height: 64px;
    margin: 8px;
    display: flex;
    justify-content: space-around;
}

.icons {
    margin-right: 24px;
}

.article {
    margin-right: 45px;
}

.article p {
    margin-bottom: 10px;
}

.progress-request {
    width: 8.5%;
    height: 40px;
    margin-right: 40px;
}

.progress-request p {
    margin-left: -76%;
    margin-top: 5px;
}

.btn {
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    width: 120px;
    height: 40px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.lists {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.lists h3:not(:first-child) {
    opacity: 30%;
}

.progress-list .progress-item {
    margin-top: 10px;
    justify-content: space-between;
}

.progress-list button {
    margin-right: 20px;
}

.progress-item-course {
    max-width: 100%;
}

.course-detail {
    display: flex;
    align-items: center;
    text-align: center;
}

.course-detail p, time {
    margin-left: 10px;
}

.course-detail img {
    margin-bottom: 5px;
}

.progress-photography {
    margin-right: -25px;
}

.progress-instagram {
    margin-right: -5.5px;
}

.progress-drawing {
    margin-right: -5px;
}

.progress-photoshop {
    margin-right: -27px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.search-form {
    display: flex;
    align-items: center;
    height: 40px;
    width: 70%;
    padding: 20px;
}

.search-form input {
    background: rgba(245, 245, 247, 1);
    outline: none;
    padding-left: 15px;
}

.block-progress {
    display: flex;
    justify-content: space-between;
}

.course-complete, .course-in-progress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(245, 245, 247, 1);
    width: 45%;
    height: 96px;
    border-radius: 14px;
}

.block-progress h2 {
    font-size: 64px;
    font-weight: bold;
    margin: 0 11px 0 35px;
}

.block-progress p {
    margin-left: 10px;
    font-size: 16px;
}

.statistic {
    margin-top: 40px;
}

.statistic-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.course-statistic {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.course-statistic a:last-child {
    opacity: 30%;
}

.btn-week {
    font-weight: 700;
    background-color: rgba(245, 245, 247, 1);
    border-radius: 14px;
    width: 20%;
    height: 32px;
}

.premium {
    display: flex;
    justify-content: space-around;
    background: rgba(245, 245, 247, 1);
    border-radius: 14px;
    margin-top: 30px;
    width: 100%;
    height: 190px;
    align-items: center;
}

.premium-text {
    width: 41%;
}

.premium-text h2, p {
    margin: 0 auto;
}

.premium-text .btn {
    margin-top: 20px;
}

.notification-icon::after {
    content: '1';
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-size: 13px;
    font-weight: 600;
}